<!DOCTYPE html>
<html>
    <head>
        <title>Access Denied</title>
        <link rel='stylesheet' href='/css/ampersand.css' />
    </head>
    <body>
        <h1>Access Denied</h1>
        {% include 'menu.twig' %}
    </body>
</html>
