<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel='stylesheet' href='/css/ampersand.css' />
        <link rel='stylesheet' href='/css/login.css' />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form action="/login" method="post">
            <table>
                <tr>
                    <td class="label">Username</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td class="label">Password</td>
                    <td><input type="password" name="password"/></td>
                </tr>
            </table>
            <input type="submit" value="Log In"/>
        </form>
    </body>
</html>
