<ul class="mainmenu">
<li><a href="/">Dashboard</a></li>
<li><a href="/confbridge/create">Create a Conference</a></li>
{% if (admin) %}
<li><a href="/events">Event Log</a></li>
{% endif %}
<li><a href="/logout">Logout</a></li>
</ul>
