body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00b7ff;
}
table { 
    border-spacing:0;
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}
caption {
    text-align: left;
}

tr:nth-child(even) {
    background: #dddddd;
}
tr:nth-child(odd) {
    background: #eeeeee;
}
tr:hover {
    background-color: #ffffee;
}

th {
    text-align: left;
    background-color: #cccccc;
    padding: 5px;
    border-bottom: 1px solid #666666;
    white-space: nowrap;
}

td {
    padding: 7px;
    vertical-align: top;
}
td.label {
    width: 1px;
    white-space: nowrap;
    font-weight: bold;
    text-align: right;
}

ul.menu, ul.mainmenu {
    padding: 0;
    list-style-type: none;
}
ul.menu li, ul.mainmenu li{
    display: inline;
}
ul.menu li:before, ul.mainmenu li:before {
    content: " | ";
}
ul.mainmenu li:first-child:before {
    content: none;
}
ul.menu li:first-child:before {
    content: "[ ";
}
ul.menu li:last-child:after {
    content: " ]";
}

div.scrollable {
    max-height: 250px;
    overflow: auto;
}
