#inprogress {
    display: none;
}

td.conference_name {
    width: 100%;
}

td.parties {
    width: 100%;
}

td.expiration {
    white-space: nowrap;
}

table.conferencelist {
    display: none;
}

td.action {
    width: 1px;
    white-space: nowrap;
    font-size: 0.8em;
    vertical-align: middle;
}
