ul.options {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

tr.recordings {
    display: none;
}

table.controls, table.recordings{
    background: none;
    border: none;
    margin: 0;
}
table.controls tr, table.recordings tr {
    background: none;
}
table.controls tr:hover {
    background: none;
}
table.recordings tr:hover {
    background: #eeeeee;
}
table.controls td {
    padding: 2px;
}

table.recordings tr:first-child td {
    padding-top: 0;
}
table.recordings tr:last-child td {
    padding-bottom: 0;
}

td.action {
    width: 1px;
    white-space: nowrap;
    font-size: 0.75em;
}

td.recordingaction, td.recordingsize, td.recordingfile {
    width: 1px;
    white-space: nowrap;
}
td.recordingtime {
    width: 100%;
}
td.channel, td.calleridnum, td.calleridname, td.details {
    width: 100%;
}

td.details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

td.details ul li {
    float: left;
    display: inline;
    width: 33.333%;
}
